<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login-Page</title>
    <style type="text/css">
        .align-center{
            position:fixed;left:45%;top:48%;margin-left:width/2;margin-top:height/2;
        }
    </style>
</head>
<body>
    <div class="align-center">
        <form method="post" action="check">
        <div>
            <input type="text" name="username">username
        </div>

        <div>
            <input type="password" name="password">password
        </div>

        <div>
            <input type="submit" name="login_btn" value="SUBMIT">
        </div>
        </form>
    </div>

</body>
</html>